@layout Blog.Client.Shared.Layouts.BasicLayout
@page "/sign-in"
@inherits SignInBase
<div class="main__b__0">
    <div class="login">
        <Form Model="@SignInUser" OnFinish="OnFinishAsync" Loading="@Loading">
            <Tabs>
                <TabPane Key="1">
                    <Tab>账户密码登录</Tab>
                    <ChildContent>
                        <FormItem>
                            <AntDesign.Input Placeholder="邮箱地址" Size="large" @bind-Value="@context.UserEmail">
                                <Prefix><Icon Type="user" /></Prefix>
                            </AntDesign.Input>
                        </FormItem>
                        <FormItem>
                            <InputPassword Placeholder="密码" Size="large" @bind-Value="@context.UserPassword" Type="password">
                                <Prefix><Icon Type="lock" /></Prefix>
                            </InputPassword>
                        </FormItem>
                    </ChildContent>
                </TabPane>
                <TabPane Key="2">
                    <Tab>验证码登录</Tab>
                    <ChildContent>
                        <br />
                        ToDo
                        <br />
                        @*<FormItem>
                            <AntDesign.Input Placeholder="手机号" Size="large" @bind-Value="@context.UserEmail">
                                <Prefix><Icon Type="mobile" /></Prefix>
                            </AntDesign.Input>
                        </FormItem>
                        <FormItem>
                            <Row Gutter="8">
                                <AntDesign.Col Span="16">
                                    <AntDesign.Input Placeholder="验证码" Size="large" @bind-Value="@context.UserPassword">
                                        <Prefix><Icon Type="mail" /></Prefix>
                                    </AntDesign.Input>
                                </AntDesign.Col>
                                <AntDesign.Col Span="8">
                                    <Button Size="large" Block >获取验证码</Button>
                                </AntDesign.Col>
                            </Row>
                        </FormItem>*@
                    </ChildContent>
                </TabPane>
            </Tabs>
            <div>
                <Checkbox Checked="true">
                    自动登录
                </Checkbox>
                <a style="float: right;">
                    忘记密码
                </a>
            </div>
            <button class="submit ant-btn ant-btn-primary ant-btn-lg" type="submit">登&nbsp;录</button>
            <div class="other">
                其他登录方式
                <Icon Type="alipay-circle" Style="vertical-align: middle" />
                <Icon Type="taobao-circle" Style="vertical-align: middle" />
                <Icon Type="weibo-circle" Style="vertical-align: middle" />
                <a class="register" href="/sign-up">注册账户</a>
            </div>
        </Form>
    </div>
</div>